<ion-header no-border>
  <ion-toolbar color="danger">
    <ion-title>
      Pedido
    </ion-title>
    <ion-buttons slot="start">
      <ion-button menuToggle slot="icon-only" fill="clear" (click)="close()">
        <ion-icon name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-item>
      <ion-label color="danger" (click)="openCesion()">
        <h3>Datos Personales</h3>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="success" (click)="openCesion()">

          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label color="danger">
        <h3>Datos del Pedido</h3>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="success">

          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>


  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="danger" position="stacked">Direccion Casa:</ion-label>
          <ion-textarea type="text" placeholder="Ingresar direccion de casa" [(ngModel)]="direccion"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input style="color: #808080d6;" readonly type="text" [(ngModel)]="ubicacion"></ion-input>
          <ion-button color="danger" (click)="geolocalizacion()">
            <ion-icon name="locate"></ion-icon>
          </ion-button>
        </ion-item>
        <span *ngIf="distancia!=undefined && distancia!=null">


          <ion-item>
            <ion-label color="danger" position="stacked">Distancia (Km) Tienda - Ubicacion</ion-label>
            <ion-input style="color: #1f1e1e;" readonly type="text" [(ngModel)]="distancia"> </ion-input>
          </ion-item>
        </span>

        <ion-col size="12">
          <ion-row>
            Total pedido
          </ion-row>
          <ion-row>
            <ion-label>
              S/. {{totalpedido}}
            </ion-label>
          </ion-row>
          <ion-row>
            Total Delivery
          </ion-row>
          <ion-row>
            <ion-label>
              S/. {{totaldelivery}}
            </ion-label>
          </ion-row>
          <ion-row id="monto-total">
            Monto Total
          </ion-row>
          <ion-row id="monto-total">
            <ion-label>
              S/.{{montoTotal}}
            </ion-label>
          </ion-row>
        </ion-col>


      </ion-list>
      <ion-button type="submit" color="danger" fill="outline" expand="full" (click)="onSaveForm()">
        <ion-label color="rojo">Enviar</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>