<ion-header no-border >
  <ion-toolbar  color="danger">
      
    <ion-buttons slot="start">
      <ion-button id="atras" menuToggle slot="icon-only" fill="clear" (click)="close()">
        <ion-icon  name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
     <!--<ion-back-button text="" defaulHref="/"></ion-back-button>--> 
    </ion-buttons>

      <ion-searchbar 
      class="searchbar-sin-icono"
      type="tel"
      color="redtrasnparente"
      (ionInput)="find($event)"
      placeholder="Buscar tienda.."
      >
    
      </ion-searchbar>
 
      <ion-buttons slot="end" >
        <ion-button id="carrito" menuToggle slot="icon-only" fill="clear" (click)="openCarrito()">
          <ion-badge mode="ios" slot="end" color="verdino" >4</ion-badge>
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
       <!--<ion-back-button text="" defaulHref="/"></ion-back-button>--> 
      </ion-buttons>


  </ion-toolbar>

  <ion-segment  [(ngModel)]="sugerido"  mode="md" color="redtrasnparente" scrollable="true"  value="favorite">  
    <ion-segment-button *ngFor="let item of lstsugeridos" [value]="item">
      <ion-label>{{item.nombre}}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <ion-card *ngFor="let item of _service_rubro_tienda.tiendas" (click)="openTienda(item)">
   <img [src]="item?.imagen | imagen">
   <div id="logo">
    <img [src]="item?.imagenlogo | imagen">
   </div>
   <ion-card-content>
    <ion-list id="time">
      <ion-item>              
        <div  id="horario">
          <img src="../assets/imgs/time.png" height="15px" alt="" class="nuevo"  style="margin-right: 20px;">
          <div class="segundo" >
            <div *ngFor="let itema of item?.horario" >
              <ion-row>
                <ion-col size="3">
                  {{itema.d}}
                </ion-col>
                <ion-col >
                  {{itema.o}} a.m. a {{itema.t}} p.m
                </ion-col>
            </ion-row>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <!-- <h4 class="card-title">{{item?.nombre}}</h4>
     <p>{{item?.direccion}}</p>-->
   </ion-card-content>
 </ion-card> 

 <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

