<ion-header class="ion-no-border">
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
      <ion-button menuToggle slot="icon-only" fill="clear" (click)="close()">
        <ion-icon name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
      <!--<ion-back-button text="" defaulHref="/"></ion-back-button>-->
    </ion-buttons>
    <ion-title>
      <h5>Pedido en proceso</h5>
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div id="fixed-menu-button" #fixedMenuButton>
    <ion-button menuToggle slot="icon-only" fill="clear" (click)="close()">
      <ion-icon name="chevron-back-outline" color="light"></ion-icon>
    </ion-button>
  </div>


  <ion-card>
    <!--<img [src]="item?.imagen | imagen">-->
    <ion-card-header>
      <!--<ion-card-title>
        <h6 class="card-title">Nombre del motorizado</h6>
      </ion-card-title>-->

     <!-- <ion-card-subtitle>
        <p>{{item?.nombreMotorizado}}</p>
      </ion-card-subtitle>-->
      <ion-card-content>
        <br>
        <ion-label position="stacked">
          <h6 class="card-title">Monto Pedido</h6>
        </ion-label>
        <ion-item>
          <ion-input  name="moto" readonly> S/. {{item?.monto}}
          </ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button fill="outline" expand="block" color="danger" (click)="finalizar()">
        <ion-icon color="redtrasnparente" slot="end" name="cart-outline"></ion-icon>
        <ion-label color="redtrasnparente"> Finalizar pedido </ion-label>
      </ion-button>
    </ion-card-header>

  </ion-card>
</ion-content>

