<ion-content >
  <div  id="categoriaSelect">
    <ion-header no-border >
      <ion-toolbar  color="danger">
        <ion-title>
          Sugeridos
      

      
        </ion-title> 
        <ion-buttons slot="end" >
          <ion-button id="carrito" menuToggle slot="icon-only" fill="clear" *ngIf="service_carrito.long_carrito!=undefined" (click)="openCarrito()">
            <ion-badge mode="ios" slot="end" color="verdino" >{{service_carrito.long_carrito}}</ion-badge>
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
         <!--<ion-back-button text="" defaulHref="/"></ion-back-button>--> 
        </ion-buttons>
      </ion-toolbar>
      <ion-segment  [(ngModel)]="sugerido"  mode="md" color="redtrasnparente" scrollable="true"  value="favorite">  
        <ion-segment-button *ngFor="let item of lstsugeridos" [value]="item" (click)="cambioSubCategorias(segm.value)" #segm name="segm">
          <ion-label>{{item.nombre}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-header>

    </div>

    <span *ngIf="_service_tienda.tiendas.length<1" ><ion-item>No hay tiendas disponibles</ion-item></span>
    <span  *ngIf="_service_tienda.tiendas.length>0">
  
    <ion-card *ngFor="let item of _service_tienda.tiendas" (click)="openTienda(item)">
     <img [src]="item?.imagen | imagen">
     <div id="logo">
      <img [src]="item?.imagenlogo | imagen">
     </div>
     <ion-card-content>
      <ion-list id="time">
        <ion-item>              
          <div  id="horario">
            <!--<img src="../assets/imgs/time.png" height="15px" alt="" class="nuevo"  style="margin-right: 20px;">-->
            <div class="segundo" >
                <ion-row>
                  <ion-col size="9">
                    <span *ngIf="item.horario==1" >
                     <ion-button  expand="block"  fill="outline" color="verdino" >
                       <ion-label color="verdino"><b>TIENDA ABIERTA</b>  </ion-label>
                     </ion-button>
                    </span>
                    <span *ngIf="item.horario==0" >
                     <ion-button  expand="block"  fill="outline" color="rojo" >
                       <ion-label color="rojo"><b>TIENDA CERRADA</b>  </ion-label>
                     </ion-button>
                    </span>
                   
                  </ion-col>
              </ion-row>
              </div>
            </div>
        </ion-item>
      </ion-list>
      <!-- <h4 class="card-title">{{item?.nombre}}</h4>
       <p>{{item?.direccion}}</p>-->
     </ion-card-content>
   </ion-card> 
  </span>
<!--
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="cabezera"  (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
 </ion-fab> -->
 <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

