<ion-content>
  <div id="categoriaSelect">
    <ion-header no-border>
      <ion-toolbar color="danger">
        <ion-buttons slot="start">
          <ion-button (click)="close()" expand="block" fill="clear" shape="round">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>
          Productos
        </ion-title>
        <!--<ion-buttons slot="end">
          <ion-button id="carrito" menuToggle slot="icon-only" fill="clear" (click)="openCarrito()"
            *ngIf="service_carrito.long_carrito!=undefined">
            <ion-badge mode="ios" slot="end" color="success">{{service_carrito.long_carrito}} </ion-badge>
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>-->
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-row *ngFor="let pares of _serviceProducto.lstProductos | pares">
    <ion-col size="6" *ngFor="let producto of pares">
      <ion-card>
        <img class="posterProduct" [src]="producto.imagen | imagen" (click)="openProducto(producto)">
        <ion-card-header>
          <ion-card-title>
            <h6>S/.{{producto.precio | number: '.2'}} </h6>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h6> {{producto.nombre}}</h6>
        </ion-card-content>
        <ion-button fill="outline" expand="block" size="small" color="danger" (click)="guardarCarrito(producto)">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando mas ofertas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>