<ion-header no-border>
  
  <ion-toolbar color="danger">
      <img src="../../assets/imgs/logotransparente.png">
  </ion-toolbar>

</ion-header>

<ion-content [style.background-image]="'url(../../assets/imgs/fondo.jpg)'" [style.background-size]="'cover'"
  [style.background-repeat]="'no-repeat'">

  <ion-row *ngFor="let categorias of lstCategoria | pares">
    <ion-col size="6" *ngFor="let categoria of categorias">
      <ion-card (click)="openPorCategoria(categoria)">
        <img class="poster" [src]="categoria.imagen | imagen">
        <ion-card-header>
          <ion-card-title>
            <h6 id="titleElement"> {{categoria.nombre}}</h6>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <div id="inicio">
  </div>

  
</ion-content>