<ion-header no-border >
  <ion-toolbar  color="danger">
      <ion-searchbar  
      class="searchbar-transparente"
      type="text"
      color="redtrasnparente"
      (ionInput)="find($event)"
      placeholder="Que prefieres hoy?"
      >
      </ion-searchbar>
      <ion-buttons slot="end" >
        <ion-button id="carrito" menuToggle slot="icon-only" fill="clear" *ngIf="service_carrito.long_carrito!=undefined" (click)="openCarrito()">
          <ion-badge mode="ios" slot="end" color="verdino" >{{service_carrito.long_carrito}}</ion-badge>
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
       <!--<ion-back-button text="" defaulHref="/"></ion-back-button>--> 
      </ion-buttons>
  </ion-toolbar>
  <ion-segment  [(ngModel)]="zona"  mode="md" color="redtrasnparente" scrollable="true"  *ngIf="!activeSearch">  
    <ion-segment-button *ngFor="let item of lstzonas" [value]="item"  (click)="cambioZona(segment.value)" #segment name="segment">
      <ion-label>{{item.nombre}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [style.background-image]="'url(../../assets/imgs/fondo.jpg)'" 
[style.background-size]="'cover'" 
[style.background-repeat]="'no-repeat'" >
 
<div id="recomendados" *ngIf="!activeSearch">
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let producto of lstTiendaRecomendad">
        <ion-card mode="md" > 
          <ion-card-content>
            <img class="poster" [src]="producto?.imagen | imagen" (click)="openTienda(producto)" >
          </ion-card-content>
            <ion-card-header>
            <ion-card-title>
              <h6 class="card-title"> {{producto?.nombre}}</h6>
            </ion-card-title>
            <ion-card-subtitle>
              <!--<h6 class="card-subtitle"> S/.{{producto?.precio | number: '.2'}}</h6>-->
            </ion-card-subtitle>
           
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  
  <div id="inicio" *ngIf="!activeSearch">
    <ion-grid>
      <ion-row id="row1">
        <ion-col id="one">
          <img src="../assets/inicio/restaurante.png"  (click)="openRubro(1)">
        </ion-col>
        <ion-col>
          <img src="../assets/inicio/cafeteria.png"  (click)="openRubro(2)">
        </ion-col>
        <ion-col id="two">
          <img  src="../assets/inicio/bar.png"  (click)="openRubro(5)">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
        
        </ion-col>
        <ion-col size="6">
          <div id="empresa">
            <!--<ion-icon name="gift-outline" (click)="verOfertas()" ></ion-icon>-->
            <img  src="../assets/inicio/deliver.png" >
          </div>
        </ion-col>
        <ion-col size="3"> 
        </ion-col>
      </ion-row>
      <ion-row id="row3">
        <ion-col id="three">
          <img  src="../assets/inicio/farmacia.png"  (click)="openRubro(4)">
        </ion-col>
        <ion-col>
          <img  src="../assets/inicio/market.png"  (click)="openRubro(3)">
        </ion-col>
        <ion-col id="four">
          <img  src="../assets/inicio/boutique.png" (click)="openRubro(6)">
        </ion-col>
      </ion-row>
  </ion-grid>

  </div>



  <div id="search" #search *ngIf="activeSearch" >
     <span *ngIf="listTiendas?.codigo" ><ion-item>{{listTiendas.msg}}</ion-item></span>
     <span  *ngIf="!listTiendas?.codigo">

    <ion-card *ngFor="let item of listTiendas" (click)="openTienda(item)" >
      <img [src]="item?.imagen | imagen">
      <div id="logo">
       <img [src]="item?.imagenlogo | imagen">
      </div>
      <ion-card-content>
       <ion-list id="time">
         <ion-item>              
           <div  id="horario">
             <!--<img src="../assets/imgs/time.png" height="15px" alt="" class="nuevo"  style="margin-right: 20px;">-->
             <div class="segundo" >
                 <ion-row>
                   <ion-col size="9">
                     <span *ngIf="item.horario==1" >
                      <ion-button  expand="block"  fill="outline" color="verdino" >
                        <ion-label color="verdino"><b>TIENDA ABIERTA</b>  </ion-label>
                      </ion-button>
                     </span>
                     <span *ngIf="item.horario==0" >
                      <ion-button  expand="block"  fill="outline" color="rojo" >
                        <ion-label color="rojo"><b>TIENDA CERRADA</b>  </ion-label>
                      </ion-button>
                     </span>
                    
                   </ion-col>
               </ion-row>
               </div>
             </div>
         </ion-item>
       </ion-list>
       <!-- <h4 class="card-title">{{item?.nombre}}</h4>
        <p>{{item?.direccion}}</p>-->
      </ion-card-content>
    </ion-card> 
  </span>
  </div>

<!--<div  *ngFor="let categoria of lstCategoria">

    <ion-list>
     <ion-item >
          <ion-label>
            <h3>{{categoria.nombre}}</h3>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="openPorCategoria(categoria)" > 
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-list>


 <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let producto of categoria.producto">
      <ion-card>
         <img class="poster" [src]="producto.imagen | imagen" (click)="openProducto(producto)">
         <ion-card-header>
          <ion-card-title>
            <h6 class="card-title"> {{producto.nombre}}</h6>
          </ion-card-title>
          <ion-card-subtitle>
            <h6 class="card-subtitle"> S/.{{producto.precio | number: '.2'}}</h6>
          </ion-card-subtitle>
          <ion-button fill="outline" expand="block"  size="small" color="redtrasnparente">
            <ion-icon name="cart-outline"></ion-icon>
           </ion-button>
        </ion-card-header>
      </ion-card>
      
    </ion-slide>
 </ion-slides>

</div>-->

</ion-content>
