<ion-tabs>
  <ion-tab-bar slot="bottom" color="danger">
     
      <ion-tab-button tab="inicio">
        <ion-icon src="../assets/menu/inicio.svg"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="tienda">
        <ion-icon src="../assets/menu/destacado.svg"></ion-icon>
        <ion-label>Sugeridos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="llamada">
        <ion-icon ></ion-icon>
       
      </ion-tab-button>

      <ion-tab-button tab="recadeo">
        <ion-icon src="../assets/menu/recadeo3.svg"></ion-icon>
        <ion-label>Recadeo</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contactos">
        <!--<ion-icon name="people-circle-outline"></ion-icon>-->
        <ion-icon src="../assets/menu/pedidos.svg"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    
   <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="rojo" (click)="gotoLlamada()" >
      <ion-icon src="../assets/menu/promocion.svg"></ion-icon>
    </ion-fab-button>
   </ion-fab>

</ion-tabs>