<ion-header no-border >
  <ion-toolbar  color="danger">
    <ion-buttons slot="start">
      <ion-button id="atras" menuToggle slot="icon-only" fill="clear" (click)="close()">
        <ion-icon  name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="atras" menuToggle slot="icon-only" fill="clear" (click)="ubicacionRango()" >
        <ion-icon name="navigate-circle-outline"></ion-icon>  zona actual
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div id="mapita">

  </div>
        <ion-button type="submit" color="verdino" fill="outline" expand="full"  ><ion-label color="rojo"  (click)="guardar()" >Guardar Ubicación  </ion-label></ion-button>

</ion-content>